body {
    background: url('assets/maze2.jpg') no-repeat center center fixed;
		background-repeat: repeat;
		background-size: auto, cover;
		background-position: top left, center 0;
		background-attachment: fixed, fixed;
  }

  .navbar{
      height: 10%;
      width: 100%;
     background-color:black;
     color: white;
     border-bottom: white;
     border-bottom-width: 3px;
     border-bottom-style: solid;

  }

 .page{
      color: white;
  }

  .page:hover{
      color: white;
      background-color:  hsl(0, 0%, 31%, .6);
  }

  .container{
    border-style: solid;
    border-width: 3px;
    border-color: white; 
    height: 100%;
    width: 700px;
    margin-top: 4%;
    background-color: hsl(0, 0%, 31%, .6);
    color: white;
    margin-bottom: 10%;
   
 }

 .links{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
text-align: center;
font-size: 25px;
color: white;
 }

 .links:hover{
     background-color: rgb(0, 0, 0, .6);
     padding: 5px;
 }

  #firstpic {
    max-width: 50%;
    float: left;
      height: auto;
      padding-right: 30px;
      padding-bottom: 30px;
       float: left;
  }
  
  /* all pages title tags */
  h1{
    text-align: center;
    padding-top: 10px;
  }


  /* portfolio */

  a{
      color: black;
     
  }
  a:hover{
     background-color:  hsl(0, 0%, 31%, .6);
     color: white;
  }



  #portfolio {
    box-sizing: border-box;
    padding: 20px;
  }

  #portfolioT{
    margin-top: -20px;  }
  

  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }



  /* contact  */

 
.submit {
    margin-bottom: 15px;
    background-color: black;
 }
 
 hr {
     border-style: solid;
     border-width: 3px;
 }
 
 contact {
     margin-top: opx;
     text-align: left;
 }

 h2{
     font-size: 20px;
     text-align: center;
 }
 
 .name {
     margin-right: 30px;
  padding-left: 15px;
    
 }
 
 message {
     clear: both;
 }
 
 

 
   
   /* footer attributes */
 footer {
    /* position: absolute; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8%;   
    color: black;   
    border-top: 2px;
    border-top-style: solid;
    border-top-color:white; 
  }
  
footer h2 {
    text-align: center;
    background-color: black;
    color:white;
    font-size:14px;
    padding: 20px;
   
    

